/* =Main
===================================================== */

.section-main {

	clear: both;
	overflow: hidden;
	background-color: #fff;

	.main-content,
	.secondary-content {
		@include clearfix;
		margin-bottom: 1.5em;
		&:last-child { margin-bottom: 0; }
	}

	.intro-content {

		@include clearfix;
		@extend %container-padding;
		@extend %container-pull-top;
		@extend %container-push-bottom;
		width: 300%;
		padding-left: 100%;
		padding-right: 100%;
		margin-left: -100%;
		margin-right: -100%;
		background-color: #eee;
		background-color: rgba(0,0,0,.05);
		border-top: em(10,16) solid rgba(0,0,0,.1);
		@include background-image(linear-gradient(to top, transparent, rgba(0,0,0,.05)));

		.page-title { margin-bottom: 0; }
		.summary {
			margin-top: em(10,16);
			p {
				@include font-size(16);
				margin-bottom: 0;
			}
			@include breakpoint(small) {
				p { @include font-size(18); }
			}
			@include breakpoint(small-medium) {
				p { @include font-size(20); }
			}
			@include breakpoint(medium) {
				p { @include font-size(22); }
			}
		}

		.home & {
			width: auto;
			padding-left: 0;
			padding-right: 0;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 0;
			border-top: none;
			background: none;
		}

		&[class*="color-"] {
			border-top: em(10,16) solid rgba(0,0,0,.25);
			@include background-image(linear-gradient(to top, transparent, rgba(0,0,0,.15)));
			.page-title {
				color: #fff;
				text-shadow: 0 1px 1px rgba(0,0,0,.5);
			}
			.summary p {
				color: #fff;
				text-shadow: 0 1px 1px rgba(0,0,0,.5);
			}
		}
		&.color-1 { background-color: $brand-section1; }
		&.color-2 { background-color: $brand-section2; }
		&.color-3 { background-color: $brand-section3; }
		&.color-4 { background-color: $brand-section4; }

	}

	@include breakpoint(medium) {

		.main-content {
			float: left;
			width: 60%;
			margin-bottom: 0;
		}
		.secondary-content {
			float: right;
			width: 36%;
			margin-bottom: 0;
		}

		.full-width & {
			.main-content,
			.secondary-content {
				float: none;
				width: 100%;
			}
		}

	}

	/* Project landing */
	.page-projects & {

		.container-map {
			padding-top: 0;
			padding-bottom: 0;
			@extend %container-pull-top;
		}

		@include breakpoint(medium-large) {
			.container-map {
				padding: 0;
				max-width: 100%;
			}
			.intro-content {
				margin-bottom: 0;
			}
		}
	}

}
