/* =User content
===================================================== */

.user-content {
	clear: both;
	ul {
		list-style: disc;
		margin-left: 1.5em;
		margin-bottom: 1em;
	}
	ol {
		list-style: decimal;
		margin-left: 1.5em;
		margin-bottom: 1em;
		ol { list-style: lower-latin; }
	}
	ul ul,
	ol ul,
	ul ol,
	ol ol {
		margin-bottom: 0;
	}
	li {
		li {
			font-size: 1em;
			margin-left: 1.5em;
		}
	}

	/* Gallery */
	.gallery {
		list-style: none;
		margin: 0;
		padding: 0;
		@include clearfix;
		li {
			width: 8em;
			float: left;
			margin: 0 1em 1em 0;
		}
		a {
			display: block;
			&:hover,
			&:focus {
				img {
					border-color: $linkcolor;
					box-shadow: 0 .125em .25em 0 rgba(0,0,0,.1);
				}
			}
		}
		img {
			border: 2px solid $bordercolor;
			display: block;
			max-width: 100%;
		}
	}
}