/* =Widgets
===================================================== */

/* Widget: General */
.widget {

	position: relative;
	margin-bottom: 1.5em;
	&:last-child { margin-bottom: 0; }

	@include breakpoint(medium) {
		margin-bottom: 2em;
		&:last-child { margin-bottom: 0; }
	}

	h2 {
		@include font-size(16);
		margin-bottom: em(10,16);
		padding-bottom: em(10,16);
		border-bottom: 2px solid $bordercolor;
		border-color: rgba(0,0,0,.1);
		text-transform: uppercase;

		@include breakpoint(small) {
			@include font-size(18);
			margin-bottom: em(20,18);
		}
	}

	.home .main-content > & {
		&.widget-archive:first-child {
			// margin-top: em(20,16);
			@include breakpoint(small) { margin-top: em(30,16); }
		}
	}

}

.secondary-content {

	.widget {
		@extend %style-inset;
		@extend %island-padding;
	}

	.widget-naked {
		border: none;
		padding: 0;
		background: none;
		box-shadow: none;
	}
}

/* Widget: Message */
.widget-message {

	@extend %island-padding;
	background-color: $brand-auxcolor;
	@include background-image(linear-gradient(transparent, rgba(0,0,0,.2)));

	a {
		color: #fff;
		&:hover,
		&:focus {
			color: #fff;
		}
	}

	h2 {
		@include font-size(18);
		margin-bottom: em(10,18);
		padding-bottom: 0;
		padding-right: 2em;
		color: #fff;
		text-shadow: 0 1px .125em rgba(0,0,0,.4);
		text-transform: none;
		border: none;
		@include breakpoint(small-medium) {
			@include font-size(24);
			margin-bottom: em(10,24);
		}
		@include breakpoint(medium) {
			@include font-size(28);
			margin-bottom: em(10,28);
		}
	}
	p {
		max-width: 50em;
		color: #fff;
		color: rgba(255,255,255,.8);
	}

	.close {
		position: absolute;
		top: .5em;
		right: .5em;
		@include font-size(32);
		line-height: 1;
		color: #fff;
		text-shadow: 0 1px .125em rgba(0,0,0,.4);
		text-decoration: none;
		.label { @include visually-hidden; }
		&:hover,
		&:focus {
			color: rgba(255,255,255,.8);
			text-decoration: none;
		}
	}

	@include breakpoint(x-large) {
		padding-left: 7em;
		padding-right: 7em;
		margin-left: -7em;
		margin-right: -7em;
		.close {
			top: 1.125em;
			right: 1.125em;
		}
	}

}

/* Widget: Archive */
.widget-archive {

	// h2 { @extend .heading-alt; }

	.button {
		margin-top: em(10,14);
	}

}

/* Widget: Meta */
.widget-meta {

	// h2 { @extend .heading-alt; }

	h3 {
		@include font-size(16);
		margin-bottom: 0;
	}

	dl {
		margin: 0;
	}
	dt {
		margin-top: .75em;
		&:first-child { margin-top: 0; }
	}
	dd {
		margin: 0;
		p {
			margin-bottom: 0;
			margin-top: .5em;
			&:first-child { margin-top: 0; }
		}
	}

}


/* Widget: Signup */
.widget-signup {

	@extend %island-padding;
	background-color: #ebebeb;

	/* Override when in secondary content */
	.secondary-content & {
		background-color: #ebebeb;
		box-shadow: none;
	}

	h2 .icon {
		position: relative;
		top: .125em;
		color: $brand-color3;
	}

	.field-container {
		margin-top: 1em;
	}

}

/* Widget: Categories */
.widget-categories {

	// h2 { @extend .heading-alt; }
	li {
		@include font-size(16);
		// padding: .5em 0;
		border-bottom: 1px solid $bordercolor;
		&:first-child {
			border-top: 1px solid $bordercolor;
		}
	}
	a {
		display: block;
		// padding: em(6,16) 0;
		padding: .5em;
		border-left: .375em solid #eee;
		&:hover,
		&:focus {
			color: #222;
			text-decoration: none;
		}
	}
	.value {
		@include font-size(16);
		font-weight: $bold;
		// padding: .125em .5em;
		margin-right: .5em;
		color: #444;
		text-shadow: none;
		// background-color: #eee;
		min-width: 2em;
		text-align: center;
		display: inline-block;
		border: 1px solid $bordercolor;
	}
	.state-opened {
		.value {
			// color: #fff;
			// text-shadow: 0 1px 1px rgba(0,0,0,.4);
			// background-color: $brand-maincolor;
		}
	}
	.is-active {
		a {
			color: #888;
			background-color: #f9f9f9;
		}
		.value {
			background-color: #fff;
		}
	}

	.color-1 a { border-color: $brand-section1; }
	.color-2 a { border-color: $brand-section2; }
	.color-3 a { border-color: $brand-section3; }
	.color-4 a { border-color: $brand-section4; }

	@include breakpoint(small-medium) {
		li { @include font-size(18); }
	}
}

/* Widget: Files */
.widget-files {}

/* Files listing */
.files-listing {
	> li {
		background: url(../../assets/images/icon/file_generic.svg) no-repeat 0 .75em;
		padding: .5em 0 .5em 2em;
		border-top: 1px solid $bordercolor;
		&:first-child { border-top: none }
		&.type-img { background-image: url(../../assets/images/icon/file_img.svg); }
		&.type-doc { background-image: url(../../assets/images/icon/file_doc.svg); }
		&.type-pdf { background-image: url(../../assets/images/icon/file_pdf.svg); }
		&.type-xls { background-image: url(../../assets/images/icon/file_xls.svg); }

		.no-svg & {
			background-image: url(../../assets/images/icon/file_generic.png);
			&.type-img { background-image: url(../../assets/images/icon/file_img.png); }
			&.type-doc { background-image: url(../../assets/images/icon/file_doc.png); }
			&.type-pdf { background-image: url(../../assets/images/icon/file_pdf.png); }
			&.type-xls { background-image: url(../../assets/images/icon/file_xls.png); }
		}
	}

	h3 {
		@include font-size(18);
		font-weight: $regular;
		margin-bottom: 0;
	}
	.meta {
		@include clearfix;
		margin-bottom: 0;
		li {
			@include font-size(16);
			color: #888;
			border: none;
			padding: 0;
		}
		.title {
		}
		.value {
			color: #444;
		}
	}

	@include breakpoint(small) {
		> li {
			padding-top: .75em;
			padding-bottom: .75em;
			background-position: 0 1em;
		}
		h3 {
			@include font-size(20);
			margin-bottom: em(5,20);
		}
		.meta li {
			float: left;
			border-left: 1px solid #aaa;
			padding-left: .5em;
			margin-left: .5em;
			&:first-child {
				border-left: none;
				padding-left: 0;
				margin-left: 0;
			}
		}
	}
}

/* Widget: Map */
.widget-map {
	iframe {
		width: 100%;
		margin: 0;
	}
}

/* Project listing */
.project-listing {

	.project-entry {
		padding: 1em 0;
		border-top: 1px solid $bordercolor;
		&:first-child {
			border-top: none;
			margin-top: 0;
			padding-top: 0;
		}
	}

	h3 {
		@include font-size(18);
		line-height: 1.4;
		font-weight: $regular;
		margin-bottom: em(5,18);
	}

	.meta {
		@include font-size(16);
		margin-top: em(5,16);
		.title {
			color: #888;
		}
		.value {
			display: block;
			color: #222;
			.tag {
				color: #222;
				font-weight: $regular;
				background-color: #eee;
				@include font-size(16);
				display: inline-block;
				padding: 0 .25em;
				margin-left: .25em;
			}
		}
		.group {
			margin-top: em(5,16);
			&:first-child { margin-top: 0; }
		}
		.value-eu {
			.value { color: $eucolor; }
			.tag {
				color: $eucolor;
				background-color: mix($eucolor, #fff, 10%);
			}
		}
	}

	.action-details {
		display: inline-block;
		color: #888;
		@include font-size(14);
		margin-top: em(10,14);
		padding: em(4,14) em(8,14);
		border: 1px solid mix($bordercolor, #000, 90%);
		border-radius: em(4,14);
		.icon { margin-right: .25em; }
		.label.is-opened { display: none; }
		&:hover,
		&:focus {
			color: #444;
			text-decoration: none;
		}
	}

	.details { display: none;  }

	.is-opened {
		.details { display: block; }
		.action-details {
			.label.is-opened { display: inline-block; }
			.label.is-closed { display: none; }
		}
	}


	@include breakpoint(small-medium) {

		.project-entry {
			padding: 1.5em 0;
		}

		h3 {
			@include font-size(20);
			margin-bottom: em(10,20);
		}

		.meta {
			padding-left: 11em;
			.title {
				float: left;
				margin-left: -11em;
				max-width: 10em;
			}
			.value {
				display: inline-block;
			}
		}

	}
}

/* Post */
.post {

	@include clearfix;

	.meta {
		color: #888;
		@include font-size(14);
		text-transform: uppercase;
		margin-bottom: em(10,14);
	}

	.tag {
		@include font-size(14);
		font-weight: $bold;
		display: inline-block;
		color: #444;
		background-color: #eee;
		padding: em(5,14) em(8,14);
	}

	header + .meta { margin-top: em(10,14); }

	/* Full post page */
	&.post-full {

		.title {}
		.image { max-width: 100%; }
		.summary {
			margin-bottom: em(20,16);
			p {
				color: #222;
				@include font-size(18);
				margin-bottom: 0;
			}
		}

		@include breakpoint(small-medium) {
			.summary p {
				@include font-size(20);
			}
			.image {
				float: left;
				max-width: 50%;
				margin: .5em 1em 1em 0;
			}
		}

	}

	/* Normal post listing */
	&.post-listing {

		border-top: 1px solid $bordercolor;
		padding: em(10,16) 0;

		&:first-of-type {
			padding-top: 0;
			border-top: 0;
		}

		.title {
			@include font-size(22);
			margin-bottom: em(10,20);
			line-height: 1.3;
		}

		.summary {
			margin-bottom: em(10,16);
			&:last-child { margin-bottom: 0; }
			p { margin-bottom: 0; }
		}

		.image {
			float: left;
			max-width: 50%;
			margin: .375em 1em .5em 0;
		}

		.tag {
			margin-top: em(10,16);
			margin-bottom: 0;
		}

		@include breakpoint(medium) {
			padding: em(20,16) 0;
			.title { @include font-size(24); }
			.image { max-width: 30%; }
			.summary p { @include font-size(18); }
		}

	}

	/* Large post */
	&.post-large {

	}

	/* Compact post: List view */
	&.post-compact {

		.title {
			@include font-size(18);
			font-weight: $regular;
			line-height: 1.4;
			margin-bottom: 0;
		}
		.summary {
			margin-top: em(5,16);
			p { @include font-size(14); }
		}
		.meta {
			margin-bottom: em(5,14);
		}

		@include breakpoint(medium) {
			padding: em(10,16) 0;
			.title { @include font-size(18); }
			.summary p { @include font-size(16); }
		}
	}

	/* Tender states */
	&.post-tender {}
	&.state-opened {
		.tag {
			color: #fff;
			text-shadow: 0 1px 1px rgba(0,0,0,.4);
			background-color: $brand-color5;
			margin-bottom: 0;
		}
	}
	&.state-finished {}

	/* Project full */
	&.post-project {

		.meta-content {
			// border-top: 1px solid $bordercolor;
			// padding-top: em(20,18);
			margin-top: em(10,16);
			&:first-child {
				margin-top: 0;
			}
			h2 {
				@include font-size(18);
				margin-bottom: em(10,18);
				margin-top: 0;
				text-transform: uppercase;
			}
			@include breakpoint(medium) {
				float: left;
				width: 48%;
				margin-left: 4%;
				&.first {
					margin-left: 0;
					clear: both;
				}
			}
		}
		.meta {
			@include font-size(16);
			margin-top: em(10,16);
			margin-bottom: 0;
			text-transform: none;
			.title {
				color: #888;
			}
			.value {
				display: block;
				color: #222;
			}
			.value {
				display: block;
				color: #222;
				.tag {
					color: #222;
					font-weight: $regular;
					background-color: #eee;
					@include font-size(16);
					display: inline-block;
					padding: 0 .25em;
					margin-left: .25em;
				}
			}
			.group {
				margin-top: em(10,16);
				&:first-child { margin-top: 0; }
			}
			.value-eu {
				.value { color: $eucolor; }
				.tag {
					color: $eucolor;
					background-color: mix($eucolor, #fff, 10%);
				}
			}
			@include breakpoint(small-medium) {
				@include font-size(18);
				.group {
					margin-top: em(10,18);
				}
			}
		}

	}

}

/* Widget: Navigation */
.widget-navigation {

	position: relative;
	float: left;
	width: 100%;

	.intro-content & {
		nav {
			@extend %container-push-top;
			@extend %container-pull-bottom;
			float: left;
			width: 100%;
		}
	}

	li {
		@include font-size(16);
		border-bottom: 1px solid $bordercolor;
		border-color: rgba(0,0,0,.05);
		&:first-child {
			border-top: 1px solid $bordercolor;
			border-color: rgba(0,0,0,.05);
		}
	}
	a {
		display: block;
		padding: em(8,16) 1em;
		color: #444;
		&:hover,
		&:focus {
			color: $brand-maincolor;
			text-decoration: none;
			background-color: mix($brand-maincolor, #fff, 5%);
		}
	}

	.is-active > a {
		color: $brand-maincolor;
		background-color: mix($brand-maincolor, #fff, 5%);
	}

	@include breakpoint(small-medium) {
		li {
			@include font-size(18);
		}
	}

	/* Has value */
	.has-value {
		a {
			padding-left: em(56,16);
			&:hover,
			&:focus {
				.value {
					color: $brand-maincolor;
				}
			}
		}
		.value {
			float: left;
			color: #999;
			text-align: right;
			padding: 0 em(8,16);
			min-width: em(40,16);
			margin-left: -(em(46,16));
			border-right: 1px solid rgba(0,0,0,.1);
		}
		.is-active > a {
			.value  { color: $brand-maincolor; }
		}
	}

	/* Tab nav */
	.tab-nav {

		@include clearfix;
		margin: 0;

		li {
			@include font-size(16);
			width: 100%;
			float: left;
			border: none;
			display: none;
			a {
				padding: em(8,16) 1em;
				background-color: rgba(0,0,0,.1);
				&:hover,
				&:focus {
					text-decoration: underline;
					color: #fff;
					background-color: #000;
					.value { border-color: rgba(255,255,255,.4) }
				}
			}
			.value {
				@include font-size(16);
				color: inherit;
				display: inline-block;
				margin: -(em(8,16)) -1em;
				margin-right: 1em;
				padding: em(8,16) 1em;
				border-right: 1px solid rgba(0,0,0,.1);
			}

		}

		/* Active state */
		.is-active {
			display: block;
			a {
				color: #444;
				padding-right: 2.5em;
				&:after {
					@include icon-font('esf');
					content: $icon-menu;
					padding: .25em;
					float: right;
					margin-right: -2em;
				}
				&:hover,
				&:focus {
					color: #fff;
				}
			}
		}

		/* Tab nav: Opened state */
		&.is-opened {
			li {
				display: block;
				&:first-child {}
				&.is-active a {
					color: #444;
					background-color: #fff;
					.value { border-color: rgba(0,0,0,.2) }
					&:after { content: $icon-x; }
				}
			}
		}

		@include breakpoint(small-medium) {

			li {
				@include font-size(18);
				.value { @include font-size(18); }
			}
		}

		@include breakpoint(medium-large) {

			li {
				width: auto;
				display: block;
				margin-right: .5em;
				a {
					.value { border-color: rgba(0,0,0,.2); }
				}
			}
			.is-active {
				a {
					padding: em(8,16) 1em;
					background-color: #fff;
					.value { border-color: rgba(0,0,0,.2) }
					&:after { display: none; }
					&:hover,
					&:focus {
						color: #000;
						background-color: #fff;
						.value { border-color: rgba(0,0,0,.2); }
					}
				}
			}
			.is-opened {
				li { border-top: none }
			}

		}

		/* Used for coloring nav items */
		&.color-nav {

			.color-1 a { background-color: $brand-section1; }
			.color-2 a { background-color: $brand-section2; }
			.color-3 a { background-color: $brand-section3; }
			.color-4 a { background-color: $brand-section4; }

			a {
				color: #fff;
				.value { border-color: rgba(255,255,255,.4) }
			}
			&.is-opened .is-active a .value { border-color: rgba(0,0,0,.2) }

			@include breakpoint(medium) {
				.is-active {
					a {
						background-color: #fff;
						text-decoration: none;
						.value { color: #fff; border-color: transparent; }
					}
					&.color-1 {
						a { color: $brand-section1; }
						.value { background-color: $brand-section1; }
					}
					&.color-2 {
						a { color: $brand-section2; }
						.value { background-color: $brand-section2; }
					}
					&.color-3 {
						a { color: $brand-section3; }
						.value { background-color: $brand-section3; }
					}
					&.color-4 {
						a { color: $brand-section4; }
						.value { background-color: $brand-section4; }
					}
				}
				&.is-opened .is-active a .value { border-color: transparent; }
			}

		}

	}

	/* Project nav */
	.project-nav {

		.full-width & {

			@include breakpoint(small-medium) {
				border: none;
				li {
					border: none;
					margin-top: em(4,16);
					&:first-child { margin-top: 0; }
				}
				a {
					// border: 1px solid $bordercolor;
					// border: 1px solid transparent;
					&:hover,
					&:focus {
						background-color: $linkcolor;
						color: #fff;
						.value {
							color: #fff;
							border-color: rgba(255,255,255,.6);
						}
						// border-color: darken($bordercolor, 20%);
					}
				}
			}
			@include breakpoint(medium) {
				li {
					float: left;
					width: 49%;
					margin: 0 0 2% 2%;
					&:nth-child(2n+1) {
						margin-left: 0;
						clear: both;
					}
				}
			}
			@include breakpoint(large) {
				li {
					width: 33%;
					margin-left: .5%;
					margin-bottom: .5%;
					&:nth-child(2n+1) {
						margin-left: .5%;
						clear: none;
					}
					&:nth-child(3n+1) {
						margin-left: 0;
						clear: both;
					}
				}
			}

		}

	}

}

/* =Other
===================================================== */

/* Pagination */
.pagination {
	@include clearfix;
	margin-top: em(20,16);

	.info {
		text-align: center;
		@include font-size(16);
		margin-bottom: em(20,16);
		color: #aaa;
		strong {
			font-weight: $regular;
			color: #222;
		}
	}

	&:only-child { margin-top: 0; }
	li {
		@include font-size(16);
		line-height: 1.5;
		display: none;
	}
	a {
		color: #888;
		display: block;
		padding: .5em 1em;
		background-color: #eee;
		&:hover,
		&:focus {
			color: $brand-auxcolor;
			background-color: #ddd;
			text-decoration: none;
		}
	}
	.is-active a {
		color: #fff;
		background-color: $brand-auxcolor;
	}

	.prev,
	.next {
		display: block;
		a {
			padding-left: .75em;
			padding-right: .75em;
		}
		.label { @include visually-hidden; }
	}
	.prev { float: left; }
	.next { float: right; }

	.icon {
		position: relative;
		top: .125em;
	}

	@include breakpoint(small-medium) {
		text-align: center;
		li {
			display: inline-block;
			float: none;
		}
		.prev,
		.next {
			display: inline-block;
			float: none;
		}
	}
}

/* Breadcrumbs */
.breadcrumbs {}