/* =IE <9 Style
===================================================== */
/* =Information

	Design:     Emanuel Blagonic
	HTML/CSS:   Lucijan Blagonic
	WordPress:  Zoran Ugrina

===================================================== */
/* =Cheatsheet

	Media queries

	@media (min-width)

		x-large:      1400px
		large:        1200px
		medium-large: 1000px
		medium:       800px
		small-medium: 600px
		small:        400px

	@media (max-width)

		to-x-large:      1399px
		to-large:        1199px
		to-medium-large: 999px
		to-medium:       799px
		to-small-medium: 599px
		to-small:        399px

	Defined in _base.scss

	----------------------------

	HTML structure

	.section-header
		.container
			.site-branding
				.site-logo
				.site-title
	.section-nav
		.container
	.section-hero
		.container
	.section-main
		.container
			.main-content
			.secondary-content
		.container
	.section-footer
		.container

===================================================== */
/* =Include
===================================================== */
@import url(normalize.css);
/* =Custom mixins
===================================================== */
/* =Project specific
===================================================== */
/* =Welcome
===================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 100%/1.5 "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  color: #555;
  background-color: #ebebeb; }

/* =Extend
===================================================== */
.section-main .intro-content, .container {
  padding: 1em;
  padding: 1.5em;
  padding: 2em;
  padding: 2.5em; }

.section-main .intro-content, .page-projects .section-main .container-map {
  margin-top: -1em;
  margin-top: -1.5em;
  margin-top: -2em;
  margin-top: -2.5em; }

.intro-content .widget-navigation nav {
  margin-bottom: -1em;
  margin-bottom: -1.5em;
  margin-bottom: -2em;
  margin-bottom: -2.5em; }

.intro-content .widget-navigation nav {
  margin-top: 1em;
  margin-top: 1.5em;
  margin-top: 2em;
  margin-top: 2.5em; }

.section-main .intro-content {
  margin-bottom: 1em;
  margin-bottom: 1.5em;
  margin-bottom: 2em;
  margin-bottom: 2.5em; }

.secondary-content .widget, .widget-message, .widget-signup, .style-outline {
  padding: 1.5em;
  padding: 2em; }

.secondary-content .widget, .style-outline {
  border: 1px solid #eeeeee;
  border-color: #eee #ddd #ccc #ddd;
  background-color: #fff;
  box-shadow: 0 0.25em 0.125em rgba(0, 0, 0, 0.1); }

/* =Import
===================================================== */
/* =Typography
===================================================== */
ul, ol, dl, p {
  margin-top: 0; }

h1, h2, h3, h4 {
  color: #222;
  margin-top: 0;
  margin-bottom: .5em;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }

.page-title,
h1 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 0.83333em;
  font-weight: 600; }

h2 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 0.5em;
  font-weight: 600; }

h3 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 0.55556em;
  font-weight: 600; }

h4 {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.4;
  margin-bottom: 0.625em;
  font-weight: 600; }

.page-title,
h1 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.2;
  margin-bottom: 0.71429em; }

h2 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 0.41667em; }

h3 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 0.5em; }

h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 0.55556em; }

.page-title,
h1 {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.2;
  margin-bottom: 0.625em; }

h2 {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 1.2;
  margin-bottom: 0.35714em; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 0.41667em; }

h4 {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.3;
  margin-bottom: 0.5em; }

.page-title,
h1 {
  font-size: 36px;
  font-size: 2.25rem;
  margin-bottom: 0.55556em; }

/* Temp */
.page-title.small-title {
  font-weight: 600;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 1em;
  line-height: 1.4;
  font-size: 22px;
  font-size: 1.375rem;
  margin-bottom: 0.90909em;
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 0.83333em;
  font-size: 26px;
  font-size: 1.625rem;
  margin-bottom: 0.76923em; }

.heading-alt, .widget-archive h2, .widget-meta h2, .widget-categories h2, .project-full h2 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  color: #fff;
  text-shadow: 0 1px 0.125em rgba(0, 0, 0, 0.4);
  background-color: #3e3e7b;
  padding: 0.35714em 0.57143em 0.28571em 0.57143em;
  margin-bottom: 1.42857em; }

.heading-type {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  color: #444;
  background-color: #eee;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.3125em 0.5em;
  margin-bottom: 1.25em;
  /* Heading by color */
  /* Heading link */
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 1em; }
  .heading-type:last-child {
    margin-bottom: 0; }
  .heading-type[class*="color-"] {
    color: #fff;
    border-color: transparent; }
  .heading-type.color-1 {
    background-color: #00b6f1; }
  .heading-type.color-2 {
    background-color: #c7197d; }
  .heading-type.color-3 {
    background-color: #00a651; }
  .heading-type.color-4 {
    background-color: #fcaf17; }
  .heading-type.heading-link {
    padding: 0; }
    .heading-type.heading-link a {
      display: block;
      color: #444;
      padding: 0.3125em 0.5em; }
      .heading-type.heading-link a:hover, .heading-type.heading-link a:focus {
        background-color: rgba(0, 0, 0, 0.1);
        text-decoration: none; }
    .heading-type.heading-link[class*="color-"] a {
      color: #fff; }
      .heading-type.heading-link[class*="color-"] a:hover, .heading-type.heading-link[class*="color-"] a:focus {
        background-color: rgba(0, 0, 0, 0.2); }
  .heading-type.heading-link a {
    padding: 0.25em 0.4em; }

p, li, label, td, th {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.625em;
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 0.625em;
  font-size: 18px;
  font-size: 1.125rem;
  margin-bottom: 0.55556em; }

li, td, th {
  margin-bottom: 0; }

a {
  color: #ae2234;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease; }
  a:hover, a:focus {
    color: #222;
    text-decoration: underline;
    outline: none; }

strong {
  font-weight: 600;
  color: #222; }

em {
  font-style: italic; }

sup {
  vertical-align: text-top;
  font-size: 75%; }

sub {
  vertical-align: bottom;
  font-size: 75%; }

blockquote {
  font-style: italic; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

/* =Table
===================================================== */
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
  border-spacing: 0; }

/* =Forms
===================================================== */
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"],
input[type="date"], input[type="month"], input[type="time"], input[type="week"],
input[type="number"], input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], textarea, select {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  padding: 0.5625em 0.875em;
  width: 100%;
  border: 1px solid #ddd;
  border-color: #d4d4d4 #c8c8c8 #bbbbbb #c8c8c8;
  background-color: #fff;
  box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-appearance: none;
  /* Focus styles */
  /*	Hover styles */ }
  input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus,
  input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus,
  input[type="tel"]:focus, input[type="color"]:focus, textarea:focus, select:focus {
    color: #222;
    border-color: #aaa;
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.4);
    outline: none; }
  input[type="text"]:hover, input[type="password"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover,
  input[type="date"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  input[type="number"]:hover, input[type="email"]:hover, input[type="url"]:hover, input[type="search"]:hover,
  input[type="tel"]:hover, input[type="color"]:hover, textarea:hover, select:hover {
    border-color: #aaa; }

textarea {
  resize: vertical;
  height: 12.5em;
  display: block; }

select {
  /* Code for custom arrow on the select box */ }

.field-container {
  /* Error styles */ }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

.field-container {
  margin-bottom: 1em; }
  .field-container:last-child {
    margin-bottom: 0; }
  .field-container.label-hide .field > label {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden; }

.field {
  margin-bottom: 0.71429em; }
  .field:last-child {
    margin-bottom: 0; }

.field label {
  display: block;
  color: #888;
  font-size: 14px;
  font-size: 0.875rem;
  margin-bottom: 0.71429em; }

/* =User content
===================================================== */
.user-content {
  clear: both; }
  .user-content ul {
    list-style: disc;
    margin-left: 1.5em;
    margin-bottom: 1em; }
  .user-content ol {
    list-style: decimal;
    margin-left: 1.5em;
    margin-bottom: 1em; }
    .user-content ol ol {
      list-style: lower-latin; }
  .user-content ul ul,
  .user-content ol ul,
  .user-content ul ol,
  .user-content ol ol {
    margin-bottom: 0; }
  .user-content li li {
    font-size: 1em;
    margin-left: 1.5em; }

/* =Navigation
===================================================== */
.section-nav {
  background-color: #464646;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  /* Only hide if JavaScript is enabled */
  /* Open menu */
  /* Fallback */
  position: relative;
  top: -120px;
  margin-bottom: -40px;
  float: left;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* Primary nav */
  /* Secondary nav */
  /* Dropdown, sub-menu parent */
  /* Sub menu */
  /* Primary nav */ }
  .js .section-nav {
    overflow: hidden;
    max-height: 0; }
  .section-nav.is-opened {
    max-height: 200em; }
  .section-nav:target {
    max-height: 200em; }
  .section-nav li {
    color: #fff;
    text-shadow: 0 1px 0.125em rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 16px;
    font-size: 1rem;
    margin-top: 1px; }
    .section-nav li li {
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: 400; }
    .section-nav li ul {
      margin-top: 0; }
  .section-nav a {
    display: block;
    padding: 0.625em 1.25em;
    color: #fff;
    background-color: #333; }
    .section-nav a .icon {
      margin-right: .5em; }
  .section-nav li li a {
    padding: 0.71429em 1.42857em;
    padding-left: 2.85714em; }
  .section-nav .is-active > a {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); }
  .section-nav ul {
    margin-top: 1em; }
    .section-nav ul:first-child {
      margin-top: 0; }
  .js .section-nav {
    overflow: visible;
    max-height: 200em;
    display: block; }
  .section-nav .container {
    padding-top: 0;
    padding-bottom: 0; }
  .section-nav li {
    margin-top: 0;
    float: left; }
  .section-nav a {
    text-decoration: none; }
  .section-nav ul {
    margin-top: 0; }
  .section-nav .primary-nav {
    padding-left: 120px;
    position: absolute;
    top: 100%;
    z-index: 410; }
    .section-nav .primary-nav li {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 1.44444;
      border-right: 1px solid #2d2d59; }
    .section-nav .primary-nav a {
      min-height: 80px;
      padding: 1.5em 1.25em;
      background-color: transparent; }
      .section-nav .primary-nav a:hover, .section-nav .primary-nav a:focus {
        color: #fff;
        background-color: #222;
        background-color: #0c0c18; }
    .section-nav .primary-nav .is-active > a {
      color: #fff;
      background-color: #2b2b56; }
      .section-nav .primary-nav .is-active > a:hover, .section-nav .primary-nav .is-active > a:focus {
        background-color: #0c0c18; }
    .section-nav .primary-nav .item-home .icon {
      margin-right: 0; }
    .section-nav .primary-nav .item-home span {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden; }
  .section-nav .secondary-nav {
    float: right;
    padding-left: 120px; }
    .section-nav .secondary-nav li {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 1.4;
      border-right: 1px solid rgba(0, 0, 0, 0.1); }
      .section-nav .secondary-nav li:first-child {
        border-left: 1px solid rgba(0, 0, 0, 0.1); }
    .section-nav .secondary-nav a {
      padding: 0.71429em 1.14286em;
      background-color: transparent; }
      .section-nav .secondary-nav a:hover, .section-nav .secondary-nav a:focus {
        background-color: #0c0c18; }
    .section-nav .secondary-nav .is-active > a {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.2); }
  .section-nav .dropdown {
    position: relative; }
    .section-nav .dropdown > a:after {
      font-family: "esf";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e606";
      margin-left: .5em;
      color: rgba(255, 255, 255, 0.9); }
    .section-nav .dropdown:hover, .section-nav .dropdown.is-focused {
      color: #fff;
      background-color: #0c0c18; }
      .section-nav .dropdown:hover > a, .section-nav .dropdown.is-focused > a {
        color: #fff;
        background-color: #0c0c18; }
      .section-nav .dropdown:hover .sub-menu, .section-nav .dropdown.is-focused .sub-menu {
        position: relative;
        left: auto;
        width: auto;
        height: auto;
        overflow: visible;
        position: absolute;
        left: 0;
        right: 0; }
  .section-nav .sub-menu {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    min-width: 14em;
    background-color: #222;
    background-color: #0c0c18; }
    .section-nav .sub-menu li {
      font-size: 16px;
      font-size: 1rem;
      font-weight: 600;
      line-height: 1.5;
      border-right: none;
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      width: 100%; }
    .section-nav .sub-menu a {
      color: #aaa;
      min-height: inherit;
      padding: .625em 1em; }
  .section-nav .primary-nav a {
    padding-left: 1.5em;
    padding-right: 1.5em; }

/* =Header
===================================================== */
.section-header {
  background-color: #3e3e7b;
  /* Site branding */ }
  .section-header .container {
    padding-top: 0;
    padding-bottom: 0; }
  .section-header .site-branding {
    float: left;
    background-color: #fff;
    position: relative;
    z-index: 411; }
  .section-header .site-logo {
    width: 60px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 0; }
    .section-header .site-logo a {
      display: block;
      height: 60px;
      background: url(../../assets/images/logo-symbol.png) no-repeat 50% 50%; }
    .section-header .site-logo img {
      display: block;
      width: 100%;
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden; }
  .section-header .site-tagline {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden; }
  .section-header .menu-link {
    float: right;
    font-size: 16px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.5;
    padding: 0.5em 1em;
    margin-top: 0.625em;
    color: #fff;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.2); }
    .section-header .menu-link:hover, .section-header .menu-link:focus {
      background-color: rgba(0, 0, 0, 0.6); }
    .section-header .menu-link:after {
      font-family: "esf";
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\e608";
      margin-left: .5em;
      position: relative;
      top: .05em; }
    .section-header .menu-link.is-active:after {
      content: "\e607"; }
  .section-header .site-logo {
    width: 120px; }
    .section-header .site-logo a {
      height: 120px;
      background-image: url(../../assets/images/logo.png); }
  .section-header .menu-link {
    display: none; }

/* =Footer
===================================================== */
.section-footer {
  border-top: 0.625em solid #e1e1e1;
  /* Footer info */
  /* Footer navigation */
  /* Footer small */
  /* Return top */
  /* Site info */
  /* Site by */ }
  .section-footer h3 {
    color: #444;
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.4;
    margin-bottom: 0.55556em; }
  .section-footer p {
    color: #999;
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 0.71429em; }
  .section-footer li {
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 0; }
  .section-footer a {
    color: #3e3e7b; }
  .section-footer .footer-info {
    padding-left: 140px;
    margin-bottom: 2em;
    float: left;
    width: 40.42553%;
    margin-bottom: 0; }
    .section-footer .footer-info:after {
      content: "";
      display: table;
      clear: both; }
    .section-footer .footer-info h3 {
      padding: .25em 0;
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 400; }
    .section-footer .footer-info .logo {
      float: left;
      margin-left: -140px; }
  .section-footer .footer-navigation {
    float: left;
    width: 48.93617%;
    margin-left: 2.12766%; }
    .section-footer .footer-navigation a {
      display: block;
      padding: .25em 0; }
    .section-footer .footer-navigation li {
      font-size: 16px;
      font-size: 1rem;
      line-height: 1.5; }
    .section-footer .footer-navigation:after {
      content: "";
      display: table;
      clear: both; }
    .section-footer .footer-navigation .column {
      float: left;
      width: 48%;
      margin-left: 4%; }
      .section-footer .footer-navigation .column:first-child {
        margin-left: 0; }
    .section-footer .footer-navigation .column {
      width: 47.82609%;
      margin-left: 4.34783%; }
  .section-footer .footer-small {
    float: left;
    width: 100%;
    padding-top: 1em;
    margin-top: 1em;
    border-top: 1px dotted #b1b1b1;
    padding-top: 2em;
    margin-top: 2em;
    padding-top: 2.5em;
    margin-top: 2.5em; }
  .section-footer .return-top {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0.41667em;
    float: left;
    width: 6.38298%;
    margin-left: 2.12766%;
    text-align: right; }
    .section-footer .return-top a {
      color: #888;
      text-decoration: none; }
      .section-footer .return-top a:hover, .section-footer .return-top a:focus {
        color: #3e3e7b; }
    .section-footer .return-top .label {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden; }
    .section-footer .return-top a {
      position: relative;
      top: -.375em; }
  .section-footer .site-info {
    display: block;
    float: left; }
    .section-footer .site-info a {
      text-decoration: none;
      color: #999;
      border-bottom: 1px solid #ccc; }
      .section-footer .site-info a:hover, .section-footer .site-info a:focus {
        color: #444; }
  .section-footer .site-by {
    display: block;
    text-align: center;
    margin-top: 1.25em;
    font-size: 16px;
    font-size: 1rem;
    margin-top: 0;
    float: right; }
    .section-footer .site-by a {
      color: #999;
      text-decoration: none; }
      .section-footer .site-by a:hover, .section-footer .site-by a:focus {
        color: #444; }
    .section-footer .site-by .label {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden; }

/* =Main
===================================================== */
.section-main {
  overflow: hidden;
  background-color: #fff;
  /* Project landing */ }
  .section-main .main-content,
  .section-main .secondary-content {
    margin-bottom: 1.5em; }
    .section-main .main-content:after,
    .section-main .secondary-content:after {
      content: "";
      display: table;
      clear: both; }
    .section-main .main-content:last-child,
    .section-main .secondary-content:last-child {
      margin-bottom: 0; }
  .section-main .intro-content {
    width: 300%;
    padding-left: 100%;
    padding-right: 100%;
    margin-left: -100%;
    margin-right: -100%;
    background-color: #eee;
    background-color: rgba(0, 0, 0, 0.05); }
    .section-main .intro-content:after {
      content: "";
      display: table;
      clear: both; }
    .section-main .intro-content .page-title {
      margin-bottom: 0; }
    .home .section-main .intro-content {
      background-color: transparent;
      width: auto;
      padding-left: 0;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0; }
  .section-main .main-content {
    float: left;
    width: 60%;
    margin-bottom: 0; }
  .section-main .secondary-content {
    float: right;
    width: 36%;
    margin-bottom: 0; }
  .full-width .section-main .main-content,
  .full-width .section-main .secondary-content {
    float: none;
    width: 100%; }
  .page-projects .section-main .container-map {
    padding-top: 0;
    padding-bottom: 0; }
  .page-projects .section-main .container-map {
    padding: 0;
    max-width: 100%; }
  .page-projects .section-main .intro-content {
    margin-bottom: 0; }

/* =Hero
===================================================== */
.section-hero {
  background-color: #fff;
  border-bottom: 1px solid #eeeeee;
  background-image: -webkit-linear-gradient(bottom, transparent, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.1)); }

.card {
  position: relative;
  padding: 1.5em 1.5em 1.5em 2em;
  margin-bottom: 1em;
  border: 1px solid #eeeeee;
  background-color: #fff;
  background-image: -webkit-linear-gradient( transparent, rgba(0, 0, 0, 0.05));
  background-image: linear-gradient( transparent, rgba(0, 0, 0, 0.05));
  box-shadow: 0 0.125em 0.75em 0 rgba(0, 0, 0, 0.1);
  padding: 2em;
  float: left;
  width: 47.87234%;
  margin-left: 4.25532%;
  margin-bottom: 4.25532%;
  /* Border on the left */
  /* Border on the right */
  /* Reset margin */ }
  .card:last-child {
    margin-bottom: 0; }
  .card.color-1 .detail {
    background-color: #00b6f1; }
  .card.color-2 .detail {
    background-color: #c7197d; }
  .card.color-3 .detail {
    background-color: #00a651; }
  .card.color-4 .detail {
    background-color: #fcaf17; }
  .card .detail {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: .5em; }
  .card .title a {
    color: #222; }
    .card .title a:hover, .card .title a:focus {
      color: #ae2234; }
  .card .summary p {
    color: #888;
    margin-bottom: 0;
    font-size: 16px;
    font-size: 1rem; }
  .card .action:after {
    content: "";
    display: table;
    clear: both; }
  .card .button {
    float: left;
    margin-top: 1.14286em;
    margin-right: 0.71429em; }
  .card .detail {
    width: 1em; }
  .card .summary p {
    font-size: 18px;
    font-size: 1.125rem; }
  .card.card-1, .card.card-3 {
    padding-left: 2.75em; }
  .card.card-2, .card.card-4 {
    padding-right: 2.75em; }
    .card.card-2 .detail, .card.card-4 .detail {
      left: auto;
      right: 0; }
  .card.card-1, .card.card-3 {
    margin-left: 0; }
  .card.card-3, .card.card-4 {
    margin-bottom: 0; }

/* Pull left/right */
.hero-content {
  margin-left: -7em;
  margin-right: -7em; }

.card.card-1, .card.card-3 {
  padding: 3em 3em 3em 7em; }
.card.card-2, .card.card-4 {
  padding: 3em 7em 3em 3em; }

/* =Widgets
===================================================== */
/* Widget: General */
.widget {
  position: relative;
  margin-bottom: 1.5em;
  margin-bottom: 2em; }
  .widget:last-child {
    margin-bottom: 0; }
  .widget:last-child {
    margin-bottom: 0; }

/* Widget: Message */
.widget-message {
  background-color: #3e3e7b;
  background-image: -webkit-linear-gradient( transparent, rgba(0, 0, 0, 0.2));
  background-image: linear-gradient( transparent, rgba(0, 0, 0, 0.2));
  padding-left: 7em;
  padding-right: 7em;
  margin-left: -7em;
  margin-right: -7em; }
  .widget-message a {
    color: #fff; }
    .widget-message a:hover, .widget-message a:focus {
      color: #fff; }
  .widget-message h2 {
    padding-right: 2em;
    color: #fff;
    text-shadow: 0 1px 0.125em rgba(0, 0, 0, 0.4); }
  .widget-message p {
    max-width: 50em;
    color: #fff;
    color: rgba(255, 255, 255, 0.8); }
  .widget-message .close {
    position: absolute;
    top: .5em;
    right: .5em;
    font-size: 32px;
    font-size: 2rem;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0.125em rgba(0, 0, 0, 0.4);
    text-decoration: none; }
    .widget-message .close .label {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden; }
    .widget-message .close:hover, .widget-message .close:focus {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none; }
  .widget-message .close {
    top: 1.125em;
    right: 1.125em; }

/* Widget: Archive */
.widget-archive .button {
  margin-top: 0.71429em; }

/* Widget: Meta */
.widget-meta h3 {
  font-size: 16px;
  font-size: 1rem;
  margin-bottom: 0; }
.widget-meta dl {
  margin: 0; }
.widget-meta dt {
  margin-top: .75em; }
  .widget-meta dt:first-child {
    margin-top: 0; }
.widget-meta dd {
  margin: 0; }
  .widget-meta dd p {
    margin-bottom: 0;
    margin-top: .5em; }
    .widget-meta dd p:first-child {
      margin-top: 0; }

/* Widget: Signup */
.widget-signup {
  background-color: #ebebeb;
  /* Override when in secondary content */ }
  .secondary-content .widget-signup {
    background-color: #ebebeb;
    box-shadow: none; }
  .widget-signup h2 .icon {
    position: relative;
    top: .125em;
    color: #909090; }
  .widget-signup .field-container {
    margin-top: 1em; }

/* Widget: Categories */
.widget-categories li {
  font-size: 16px;
  font-size: 1rem;
  border-bottom: 1px solid #eeeeee; }
  .widget-categories li:first-child {
    border-top: 1px solid #eeeeee; }
.widget-categories a {
  display: block;
  padding: .5em;
  border-left: .375em solid #eee; }
  .widget-categories a:hover, .widget-categories a:focus {
    color: #222;
    text-decoration: none; }
.widget-categories .value {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  margin-right: .5em;
  color: #444;
  text-shadow: none;
  min-width: 2em;
  text-align: center;
  display: inline-block;
  border: 1px solid #eeeeee; }
.widget-categories .is-active a {
  color: #888;
  background-color: #f9f9f9; }
.widget-categories .is-active .value {
  background-color: #fff; }
.widget-categories .color-1 a {
  border-color: #00b6f1; }
.widget-categories .color-2 a {
  border-color: #c7197d; }
.widget-categories .color-3 a {
  border-color: #00a651; }
.widget-categories .color-4 a {
  border-color: #fcaf17; }
.widget-categories li {
  font-size: 18px;
  font-size: 1.125rem; }

/* Widget: Files */
/* Files listing */
.files-listing > li {
  background: url(../../assets/images/icon/file-generic.png) no-repeat 0 0.75em;
  padding: .5em 0 .5em 2em;
  border-top: 1px solid #eeeeee; }
  .files-listing > li:first-child {
    border-top: none; }
  .files-listing > li.type-doc {
    background-image: url(../../assets/images/icon/file-doc.png); }
  .files-listing > li.type-pdf {
    background-image: url(../../assets/images/icon/file-pdf.png); }
.files-listing h3 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 0; }
.files-listing .meta {
  margin-bottom: 0; }
  .files-listing .meta:after {
    content: "";
    display: table;
    clear: both; }
  .files-listing .meta li {
    font-size: 16px;
    font-size: 1rem;
    color: #888;
    border: none;
    padding: 0; }
  .files-listing .meta .value {
    color: #444; }
.files-listing > li {
  padding-top: .75em;
  padding-bottom: .75em;
  background-position: 0 1em; }
.files-listing h3 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 0.25em; }
.files-listing .meta li {
  float: left;
  border-left: 1px solid #aaa;
  padding-left: .5em;
  margin-left: .5em; }
  .files-listing .meta li:first-child {
    border-left: none;
    padding-left: 0;
    margin-left: 0; }

/* Widget: Map */
.widget-map iframe {
  width: 100%;
  margin: 0; }

/* Project full */
.project-full .column {
  margin-bottom: 2em; }
  .project-full .column:first-child {
    margin-top: 0; }
  .project-full .column.project-meta {
    float: left;
    width: 48%; }
  .project-full .column.project-host {
    float: left;
    width: 48%;
    margin-left: 4%; }
  .project-full .column.project-summary {
    clear: both; }
.project-full .meta {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 0.625em;
  font-size: 18px;
  font-size: 1.125rem; }
  .project-full .meta .title {
    color: #888; }
  .project-full .meta .value {
    display: block;
    color: #222; }
  .project-full .meta .value {
    display: block;
    color: #222; }
    .project-full .meta .value .tag {
      color: #222;
      font-weight: 400;
      background-color: #eee;
      font-size: 16px;
      font-size: 1rem;
      display: inline-block;
      padding: 0 .25em;
      margin-left: .25em; }
  .project-full .meta .group {
    margin-top: 0.625em; }
    .project-full .meta .group:first-child {
      margin-top: 0; }
  .project-full .meta .value-eu .value {
    color: #171695; }
  .project-full .meta .value-eu .tag {
    color: #171695;
    background-color: #e7e7f4; }
  .project-full .meta .group {
    margin-top: 0.55556em; }

/* Project listing */
.project-listing .project-entry {
  padding: 1em 0;
  border-top: 1px solid #eeeeee; }
  .project-listing .project-entry:first-child {
    border-top: none;
    margin-top: 0;
    padding-top: 0; }
.project-listing h3 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 400;
  margin-bottom: 0.27778em; }
.project-listing .meta {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 0.3125em; }
  .project-listing .meta .title {
    color: #888; }
  .project-listing .meta .value {
    display: block;
    color: #222; }
    .project-listing .meta .value .tag {
      color: #222;
      font-weight: 400;
      background-color: #eee;
      font-size: 16px;
      font-size: 1rem;
      display: inline-block;
      padding: 0 .25em;
      margin-left: .25em; }
  .project-listing .meta .group {
    margin-top: 0.3125em; }
    .project-listing .meta .group:first-child {
      margin-top: 0; }
  .project-listing .meta .value-eu .value {
    color: #171695; }
  .project-listing .meta .value-eu .tag {
    color: #171695;
    background-color: #e7e7f4; }
.project-listing .action-details {
  display: inline-block;
  color: #888;
  font-size: 14px;
  font-size: 0.875rem;
  margin-top: 0.71429em;
  padding: 0.28571em 0.57143em;
  border: 1px solid #d6d6d6;
  border-radius: 0.28571em; }
  .project-listing .action-details .icon {
    margin-right: .25em; }
  .project-listing .action-details .label.is-opened {
    display: none; }
  .project-listing .action-details:hover, .project-listing .action-details:focus {
    color: #444;
    text-decoration: none; }
.project-listing .details {
  display: none; }
.project-listing .is-opened .details {
  display: block; }
.project-listing .is-opened .action-details .label.is-opened {
  display: inline-block; }
.project-listing .is-opened .action-details .label.is-closed {
  display: none; }
.project-listing .project-entry {
  padding: 1.5em 0; }
.project-listing h3 {
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 0.5em; }
.project-listing .meta {
  padding-left: 11em; }
  .project-listing .meta .title {
    float: left;
    margin-left: -11em;
    max-width: 10em; }
  .project-listing .meta .value {
    display: inline-block; }

/* Post */
.post {
  /* Full post page */
  /* Normal post listing */
  /* Large post */
  /* Compact post: List view */
  /* Tender states */ }
  .post:after {
    content: "";
    display: table;
    clear: both; }
  .post .meta {
    color: #888;
    font-size: 14px;
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 0.71429em; }
  .post .tag {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 600;
    display: inline-block;
    color: #444;
    background-color: #eee;
    padding: 0.35714em 0.57143em; }
  .post header + .meta {
    margin-top: 0.71429em; }
  .post.post-full .image {
    max-width: 100%; }
  .post.post-full .summary {
    margin-bottom: 1.25em; }
    .post.post-full .summary p {
      color: #222;
      font-size: 18px;
      font-size: 1.125rem;
      margin-bottom: 0; }
  .post.post-full .summary p {
    font-size: 20px;
    font-size: 1.25rem; }
  .post.post-full .image {
    float: left;
    max-width: 50%;
    margin: .5em 1em 1em 0; }
  .post.post-listing {
    border-top: 1px solid #eeeeee;
    padding: 1em 0; }
    .post.post-listing:first-of-type {
      padding-top: 0;
      border-top: 0; }
    .post.post-listing .title {
      font-size: 22px;
      font-size: 1.375rem;
      margin-bottom: 0.5em;
      line-height: 1.3; }
    .post.post-listing .image {
      float: left;
      max-width: 50%;
      margin: .375em 1em .5em 0; }
    .post.post-listing .title {
      font-size: 24px;
      font-size: 1.5rem; }
    .post.post-listing .image {
      max-width: 30%; }
    .post.post-listing .summary p {
      font-size: 18px;
      font-size: 1.125rem; }
  .post.post-compact .title {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 0; }
  .post.post-compact .summary {
    margin-top: 0.3125em; }
    .post.post-compact .summary p {
      font-size: 14px;
      font-size: 0.875rem; }
  .post.post-compact .meta {
    margin-bottom: 0.35714em; }
  .post.post-compact .title {
    font-size: 18px;
    font-size: 1.125rem; }
  .post.post-compact .summary p {
    font-size: 16px;
    font-size: 1rem; }
  .post.state-opened .tag {
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background-color: #a6ce39; }

/* Widget: Navigation */
.widget-navigation {
  position: relative;
  float: left;
  width: 100%;
  /* Has value */
  /* Tab nav */
  /* Project nav */ }
  .intro-content .widget-navigation nav {
    float: left;
    width: 100%; }
  .widget-navigation li {
    font-size: 16px;
    font-size: 1rem;
    border-bottom: 1px solid #eeeeee;
    border-color: rgba(0, 0, 0, 0.05); }
    .widget-navigation li:first-child {
      border-top: 1px solid #eeeeee;
      border-color: rgba(0, 0, 0, 0.05); }
  .widget-navigation a {
    display: block;
    padding: 0.5em 1em;
    color: #444; }
    .widget-navigation a:hover, .widget-navigation a:focus {
      color: #ae2234;
      text-decoration: none;
      background-color: #faf3f4; }
  .widget-navigation li {
    font-size: 18px;
    font-size: 1.125rem; }
  .widget-navigation .has-value a {
    padding-left: 3.5em; }
    .widget-navigation .has-value a:hover .value, .widget-navigation .has-value a:focus .value {
      color: #ae2234; }
  .widget-navigation .has-value .value {
    float: left;
    color: #999;
    text-align: right;
    padding: 0 0.5em;
    min-width: 2.5em;
    margin-left: -2.875em;
    border-right: 1px solid rgba(0, 0, 0, 0.1); }
  .widget-navigation .tab-nav {
    margin: 0;
    /* Active state */
    /* Tab nav: Opened state */
    /* Used for coloring nav items */ }
    .widget-navigation .tab-nav:after {
      content: "";
      display: table;
      clear: both; }
    .widget-navigation .tab-nav li {
      font-size: 16px;
      font-size: 1rem;
      width: 100%;
      float: left;
      border: none;
      display: none; }
      .widget-navigation .tab-nav li a {
        padding: 0.5em 1em;
        background-color: rgba(0, 0, 0, 0.1); }
        .widget-navigation .tab-nav li a:hover, .widget-navigation .tab-nav li a:focus {
          text-decoration: underline;
          color: #fff;
          background-color: #000; }
          .widget-navigation .tab-nav li a:hover .value, .widget-navigation .tab-nav li a:focus .value {
            border-color: rgba(255, 255, 255, 0.4); }
      .widget-navigation .tab-nav li .value {
        font-size: 16px;
        font-size: 1rem;
        color: inherit;
        display: inline-block;
        margin: -0.5em -1em;
        margin-right: 1em;
        padding: 0.5em 1em;
        border-right: 1px solid rgba(0, 0, 0, 0.1); }
    .widget-navigation .tab-nav .is-active {
      display: block; }
      .widget-navigation .tab-nav .is-active a {
        color: #444;
        padding-right: 2.5em; }
        .widget-navigation .tab-nav .is-active a:after {
          font-family: "esf";
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\e608";
          padding: .25em;
          float: right;
          margin-right: -2em; }
        .widget-navigation .tab-nav .is-active a:hover, .widget-navigation .tab-nav .is-active a:focus {
          color: #fff; }
    .widget-navigation .tab-nav.is-opened li {
      display: block; }
      .widget-navigation .tab-nav.is-opened li.is-active a {
        color: #444;
        background-color: #fff; }
        .widget-navigation .tab-nav.is-opened li.is-active a .value {
          border-color: rgba(0, 0, 0, 0.2); }
        .widget-navigation .tab-nav.is-opened li.is-active a:after {
          content: "\e607"; }
    .widget-navigation .tab-nav li {
      font-size: 18px;
      font-size: 1.125rem; }
      .widget-navigation .tab-nav li .value {
        font-size: 18px;
        font-size: 1.125rem; }
    .widget-navigation .tab-nav li {
      width: auto;
      display: block;
      margin-right: .5em; }
      .widget-navigation .tab-nav li a .value {
        border-color: rgba(0, 0, 0, 0.2); }
    .widget-navigation .tab-nav .is-active a {
      padding: 0.5em 1em;
      background-color: #fff; }
      .widget-navigation .tab-nav .is-active a .value {
        border-color: rgba(0, 0, 0, 0.2); }
      .widget-navigation .tab-nav .is-active a:after {
        display: none; }
      .widget-navigation .tab-nav .is-active a:hover, .widget-navigation .tab-nav .is-active a:focus {
        color: #000;
        background-color: #fff; }
        .widget-navigation .tab-nav .is-active a:hover .value, .widget-navigation .tab-nav .is-active a:focus .value {
          border-color: rgba(0, 0, 0, 0.2); }
    .widget-navigation .tab-nav .is-opened li {
      border-top: none; }
    .widget-navigation .tab-nav.color-nav .color-1 a {
      background-color: #00b6f1; }
    .widget-navigation .tab-nav.color-nav .color-2 a {
      background-color: #c7197d; }
    .widget-navigation .tab-nav.color-nav .color-3 a {
      background-color: #00a651; }
    .widget-navigation .tab-nav.color-nav .color-4 a {
      background-color: #fcaf17; }
    .widget-navigation .tab-nav.color-nav a {
      color: #fff; }
      .widget-navigation .tab-nav.color-nav a .value {
        border-color: rgba(255, 255, 255, 0.4); }
    .widget-navigation .tab-nav.color-nav.is-opened .is-active a .value {
      border-color: rgba(0, 0, 0, 0.2); }
    .widget-navigation .tab-nav.color-nav .is-active a {
      background-color: #fff;
      text-decoration: none; }
      .widget-navigation .tab-nav.color-nav .is-active a .value {
        color: #fff;
        border-color: transparent; }
    .widget-navigation .tab-nav.color-nav .is-active.color-1 a {
      color: #00b6f1; }
    .widget-navigation .tab-nav.color-nav .is-active.color-1 .value {
      background-color: #00b6f1; }
    .widget-navigation .tab-nav.color-nav .is-active.color-2 a {
      color: #c7197d; }
    .widget-navigation .tab-nav.color-nav .is-active.color-2 .value {
      background-color: #c7197d; }
    .widget-navigation .tab-nav.color-nav .is-active.color-3 a {
      color: #00a651; }
    .widget-navigation .tab-nav.color-nav .is-active.color-3 .value {
      background-color: #00a651; }
    .widget-navigation .tab-nav.color-nav .is-active.color-4 a {
      color: #fcaf17; }
    .widget-navigation .tab-nav.color-nav .is-active.color-4 .value {
      background-color: #fcaf17; }
    .widget-navigation .tab-nav.color-nav.is-opened .is-active a .value {
      border-color: transparent; }
  .widget-navigation .project-nav {
    border: none; }
    .widget-navigation .project-nav li {
      border: none;
      margin-top: 0.25em; }
      .widget-navigation .project-nav li:first-child {
        margin-top: 0; }
    .widget-navigation .project-nav a {
      border: 1px solid #eeeeee; }
    .widget-navigation .project-nav li {
      float: left;
      width: 49%;
      margin: 0 0 2% 2%; }
      .widget-navigation .project-nav li:nth-child(2n+1) {
        margin-left: 0;
        clear: both; }
    .widget-navigation .project-nav li {
      width: 32%; }
      .widget-navigation .project-nav li:nth-child(2n+1) {
        margin-left: 2%;
        clear: none; }
      .widget-navigation .project-nav li:nth-child(3n+1) {
        margin-left: 0;
        clear: both; }

/* =Other
===================================================== */
/* Pagination */
.pagination {
  margin-top: 1.25em;
  text-align: center; }
  .pagination:after {
    content: "";
    display: table;
    clear: both; }
  .pagination .info {
    text-align: center;
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 1.25em;
    color: #aaa; }
    .pagination .info strong {
      font-weight: 400;
      color: #222; }
  .pagination:only-child {
    margin-top: 0; }
  .pagination li {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    display: none; }
  .pagination a {
    color: #888;
    display: block;
    padding: .5em 1em;
    background-color: #eee; }
    .pagination a:hover, .pagination a:focus {
      color: #3e3e7b;
      background-color: #ddd;
      text-decoration: none; }
  .pagination .is-active a {
    color: #fff;
    background-color: #3e3e7b; }
  .pagination .prev,
  .pagination .next {
    display: block; }
    .pagination .prev a,
    .pagination .next a {
      padding-left: .75em;
      padding-right: .75em; }
    .pagination .prev .label,
    .pagination .next .label {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden; }
  .pagination .prev {
    float: left; }
  .pagination .next {
    float: right; }
  .pagination .icon {
    position: relative;
    top: .125em; }
  .pagination li {
    display: inline-block;
    float: none; }
  .pagination .prev,
  .pagination .next {
    display: inline-block;
    float: none; }

/* Breadcrumbs */
/* =Tailored maps
===================================================== */
.accessible-maps {
  position: relative;
  /* Inner container */
  /* Map controls */
  /* Map width */
  /* Map popup */ }
  .accessible-maps .tailored-maps {
    position: relative;
    min-height: 18em;
    border: 0.125em solid #e1e1e1;
    border-left: none;
    border-right: none;
    border-top: 0.625em solid #e1e1e1;
    border-bottom: 0.625em solid #e1e1e1;
    /* Height */ }
    .no-touch .accessible-maps .tailored-maps:focus {
      outline: none;
      border-color: #3e3e7b;
      box-shadow: 0 0 1em 0 #3e3e7b; }
    @media (min-height: 30em) {
      .accessible-maps .tailored-maps {
        min-height: 30em; } }
    @media (min-height: 40em) {
      .accessible-maps .tailored-maps {
        min-height: 40em; } }
    @media (min-height: 50em) {
      .accessible-maps .tailored-maps {
        min-height: 50em; } }
  .accessible-maps .map-controls {
    /* Map buttons group */ }
    .accessible-maps .map-controls .map-button {
      position: absolute;
      display: block;
      font-size: 32px;
      font-size: 2rem;
      line-height: 1;
      padding: 0.09375em;
      margin: 0;
      width: 1.25em;
      height: 1.25em;
      border-radius: 0.125em;
      background-color: #3e3e7b;
      border-color: #35356a #2d2d59 #242448 #2d2d59; }
    .accessible-maps .map-controls .visually-hidden {
      position: absolute;
      left: -10000px;
      top: auto;
      width: 1px;
      height: 1px;
      overflow: hidden; }
    .accessible-maps .map-controls .zoom-in {
      left: 0;
      bottom: 0; }
    .accessible-maps .map-controls .zoom-out {
      left: 1.40625em;
      bottom: 0; }
    .accessible-maps .map-controls .next-marker {
      right: 0;
      bottom: 0; }
    .accessible-maps .map-controls .prev-marker {
      right: 1.40625em;
      bottom: 0; }
    .accessible-maps .map-controls .pan-up {
      left: 1.40625em;
      top: 0; }
    .accessible-maps .map-controls .pan-left {
      left: 0;
      top: 1.40625em; }
    .accessible-maps .map-controls .pan-right {
      left: 2.8125em;
      top: 1.40625em; }
    .accessible-maps .map-controls .pan-bottom {
      left: 1.40625em;
      top: 2.8125em; }
    .accessible-maps .map-controls .center {
      left: 1.40625em;
      top: 1.40625em; }
    .accessible-maps .map-controls .control-pan,
    .accessible-maps .map-controls .control-zoom,
    .accessible-maps .map-controls .control-marker {
      position: absolute; }
    .accessible-maps .map-controls .control-pan {
      display: none;
      top: .5em;
      left: .5em; }
    .accessible-maps .map-controls .control-zoom {
      bottom: 0.625em;
      left: 0.625em; }
    .accessible-maps .map-controls .control-marker {
      bottom: 0.625em;
      right: 0.625em; }
  .accessible-maps.wide .control-pan {
    top: 1.25em;
    display: block; }
  .accessible-maps.wide .control-zoom {
    bottom: 1.25em; }
  .accessible-maps.wide .control-marker {
    bottom: 1.25em; }
  .accessible-maps.wide .control-pan .map-button {
    font-size: 24px;
    font-size: 1.5rem; }
  .accessible-maps.wide .control-marker .map-button,
  .accessible-maps.wide .control-zoom .map-button {
    font-size: 32px;
    font-size: 2rem; }
  .accessible-maps .gm-style .popup-info,
  .accessible-maps .popup-info {
    position: relative;
    max-width: 16em; }
  .accessible-maps .gm-style .popup-info h3,
  .accessible-maps .popup-info h3 {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0 0 0.22222em 0;
    padding: 0; }
  .accessible-maps .gm-style .popup-info ul,
  .accessible-maps .popup-info ul {
    list-style: none;
    margin: 0;
    clear: both; }
  .accessible-maps .gm-style .popup-info li,
  .accessible-maps .popup-info li {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.4;
    font-weight: 400;
    color: #444;
    margin-top: 0.28571em; }
  .accessible-maps .gm-style .popup-info li span,
  .accessible-maps .popup-info li span {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif; }
  .accessible-maps .gm-style .popup-info a,
  .accessible-maps .popup-info a {
    color: #ae2234;
    text-decoration: none; }
    .accessible-maps .gm-style .popup-info a:hover, .accessible-maps .gm-style .popup-info a:focus,
    .accessible-maps .popup-info a:hover,
    .accessible-maps .popup-info a:focus {
      text-decoration: underline; }

@font-face {
  font-family: 'tailoredmaps';
  src: url("../../assets/fonts/tailoredmaps.eot");
  src: url("../../assets/fonts/tailoredmaps.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/tailoredmaps.ttf") format("truetype"), url("../../assets/fonts/tailoredmaps.woff") format("woff"), url("../../assets/fonts/tailoredmaps.svg#tailoredmaps") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="tm-icon"],
[class*=" tm-icon"] {
  font-family: "tailoredmaps";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.tm-icon-arrow-down:before {
  content: "\e600"; }

.tm-icon-arrow-left:before {
  content: "\e601"; }

.tm-icon-arrow-right:before {
  content: "\e602"; }

.tm-icon-arrow-up:before {
  content: "\e603"; }

.tm-icon-center:before {
  content: "\e604"; }

.tm-icon-next-pin:before {
  content: "\e605"; }

.tm-icon-pin:before {
  content: "\e606"; }

.tm-icon-prev-pin:before {
  content: "\e607"; }

.tm-icon-zoom-out:before {
  content: "\e608"; }

.tm-icon-zoom-in:before {
  content: "\e609"; }

/* =Styleguide
===================================================== */
.style-group {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25em;
  margin-bottom: 2em; }
  .style-group .style-heading {
    font-size: 18px;
    font-size: 1.125rem;
    text-transform: uppercase;
    padding: .5em 1em;
    margin-bottom: 0;
    background-color: #fff;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em; }
  .style-group .style-content {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2em;
    background-color: #fff;
    border-bottom-left-radius: .25em;
    border-bottom-right-radius: .25em; }
    .style-group .style-content:after {
      content: "";
      display: table;
      clear: both; }
    .style-group .style-content.transparent {
      background-color: transparent; }

.style-color {
  color: #fff;
  border: 1px solid #ddd;
  padding: 1em 1.5em;
  float: left;
  width: 49%;
  margin-left: 2%;
  margin-bottom: 2%; }
  .style-color dt {
    font-weight: 600;
    margin: 0; }
  .style-color dd {
    margin: 0; }
  .style-color.var-brand-maincolor {
    background-color: #ae2234; }
  .style-color.var-brand-auxcolor {
    background-color: #3e3e7b; }
  .style-color.var-brand-section1 {
    background-color: #00b6f1; }
  .style-color.var-brand-section2 {
    background-color: #c7197d; }
  .style-color.var-brand-section3 {
    background-color: #00a651; }
  .style-color.var-brand-section4 {
    background-color: #fcaf17; }
  .style-color.var-brand-color1 {
    background-color: #ebebeb;
    color: #222; }
  .style-color.var-brand-color2 {
    background-color: #e1e1e1;
    color: #222; }
  .style-color.var-brand-color3 {
    background-color: #909090; }
  .style-color.var-brand-color4 {
    background-color: #464646; }
  .style-color.var-brand-color5 {
    background-color: #a6ce39; }
  .style-color.var-linkcolor {
    background-color: #ae2234; }
  .style-color.var-bordercolor {
    background-color: #eeeeee;
    color: #222; }
  .style-color.var-successcolor {
    background-color: #38b44a; }
  .style-color.var-warningcolor {
    background-color: #ffd400;
    color: #000; }
  .style-color.var-dangercolor {
    background-color: #ee1c24; }
  .style-color:nth-child(2n+1) {
    margin-left: 0;
    clear: both; }

.style-buttons .button {
  margin: 0 1em 1em 0;
  display: inline-block; }

.style-icons li {
  margin-bottom: .5em;
  display: inline-block;
  min-width: 12em; }

/* =Layout
===================================================== */
.container {
  text-align: left;
  margin: 0 auto;
  max-width: 72.5em;
  position: relative; }
  .container:after {
    content: "";
    display: table;
    clear: both; }

/* =Buttons
===================================================== */
.button,
button {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.45;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 600;
  padding: 0.64286em 1em;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  background-color: #ae2234;
  border: 1px solid #ae2234;
  border-color: #991e2e #831a27 #6e1521 #831a27;
  cursor: pointer;
  border-radius: 0.28571em;
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2), transparent);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), transparent);
  -webkit-transition: all 0.05s ease-in;
  -moz-transition: all 0.05s ease-in;
  transition: all 0.05s ease-in;
  /* Secondary button, grey */
  /* Invert button */
  /* Button small */
  /* Button large */
  /* Button action, green */
  /* Value inside a button */ }
  .button:hover, .button:focus,
  button:hover,
  button:focus {
    color: #fff;
    background-color: #991e2e;
    text-decoration: none; }
  .button.button-secondary,
  button.button-secondary {
    background-color: #999;
    border-color: #8c8c8c gray #737373 gray; }
    .button.button-secondary:hover, .button.button-secondary:focus,
    button.button-secondary:hover,
    button.button-secondary:focus {
      background-color: gray;
      border-color: gray #737373 #666666 #737373; }
  .button.button-invert,
  button.button-invert {
    border: 1px solid #ddd;
    background: none;
    background-color: #fff;
    color: #444;
    text-shadow: none; }
    .button.button-invert:hover, .button.button-invert:focus,
    button.button-invert:hover,
    button.button-invert:focus {
      background-color: #eee;
      color: #ae2234; }
    .button.button-invert .value,
    button.button-invert .value {
      background-color: #ae2234; }
  .button.button-small,
  button.button-small {
    padding: 0.25em 0.5em; }
  .button.button-large,
  button.button-large {
    font-size: 18px;
    font-size: 1.125rem;
    padding: 0.55556em 1.11111em; }
  .button.button-action,
  button.button-action {
    background-color: #a6ce39;
    border-color: #98be2f #88aa2a #779625 #88aa2a; }
    .button.button-action:hover, .button.button-action:focus,
    button.button-action:hover,
    button.button-action:focus {
      background-color: #88aa2a;
      border-color: #88aa2a #779625 #678120 #779625; }
  .button .value,
  button .value {
    float: left;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0.71429em 1em;
    margin-top: -0.71429em;
    margin-bottom: -0.71429em;
    margin-left: -1.07143em;
    margin-right: .75em;
    border-top-left-radius: 0.28571em;
    border-bottom-left-radius: 0.28571em; }

/* =Generic
===================================================== */
.skip-links {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000; }
  .skip-links a {
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 700;
    padding: .5em .75em;
    display: block;
    background-color: #fff;
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2); }
    .skip-links a:focus {
      position: relative;
      left: auto;
      width: auto;
      height: auto;
      overflow: visible; }

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0; }

hr {
  border: none;
  border-top: 1px solid #ddd;
  border-color: rgba(0, 0, 0, 0.1);
  margin: 1em 0 0 0;
  padding: 1em 0 0 0; }

img {
  max-width: 100%;
  display: block; }

/* Messages */
.message {
  border: 1px solid #d6d6d6;
  background-color: #fff;
  padding: .75em 1em;
  margin-bottom: 1em; }
  .message:last-child {
    margin-bottom: 0; }
  .message h2 {
    color: #222;
    color: rgba(0, 0, 0, 0.8);
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 600; }
  .message p {
    color: #222;
    color: rgba(0, 0, 0, 0.8);
    font-size: 16px;
    font-size: 1rem;
    margin-bottom: 0; }
  .message a {
    text-decoration: underline; }
    .message a:hover, .message a:focus {
      text-decoration: none; }
  .message.message-success {
    background-color: #38b44a; }
  .message.message-warning {
    background-color: #ffd400;
    border-color: transparent; }
    .message.message-warning a {
      color: #000; }
  .message.message-danger {
    background-color: #ee1c24; }

.message.message-success, .message.message-danger {
  border-color: transparent; }
  .message.message-success h1, .message.message-danger h1, .message.message-success h2, .message.message-danger h2, .message.message-success h3, .message.message-danger h3, .message.message-success h4, .message.message-danger h4 {
    color: #fff; }
  .message.message-success p, .message.message-danger p {
    color: #fff; }
  .message.message-success strong, .message.message-danger strong {
    color: #fff; }
  .message.message-success a, .message.message-danger a {
    color: #fff;
    text-decoration: underline; }
    .message.message-success a:hover, .message.message-danger a:hover, .message.message-success a:focus, .message.message-danger a:focus {
      text-decoration: none; }

/* =Icons
===================================================== */
@font-face {
  font-family: 'esf';
  src: url("../../assets/fonts/esf.eot?-j9rms8");
  src: url("../../assets/fonts/esf.eot?#iefix-j9rms8") format("embedded-opentype"), url("../../assets/fonts/esf.woff?-j9rms8") format("woff"), url("../../assets/fonts/esf.ttf?-j9rms8") format("truetype"), url("../../assets/fonts/esf.svg?-j9rms8#esf") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"],
[class*=" icon-"] {
  font-family: "esf";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-tailored:before {
  content: "\e600"; }

.icon-home:before {
  content: "\e601"; }

.icon-email:before {
  content: "\e602"; }

.icon-arrow-up:before {
  content: "\e603"; }

.icon-arrow-right:before {
  content: "\e604"; }

.icon-arrow-left:before {
  content: "\e605"; }

.icon-arrow-down:before {
  content: "\e606"; }

.icon-x:before {
  content: "\e607"; }

.icon-menu:before {
  content: "\e608"; }

/* Copy values to _base.scss */
